<footer class="footer-main">
    <span class="copyright">
        {{ site.name }} © {{ site.time | date: '%Y' }}
    </span>

    <a class="link" href="{{ site.url }}/feed.xml" target="_blank">
        {% fa_svg fas.fa-rss %}
    </a>

    <p class="extra">
        based on the <a class="link" href="https://github.com/sergiokopplin/indigo" rel="nofollow noreferrer">Indigo theme</a> by <a
            class="link" href="https://github.com/sergiokopplin/indigo" rel="nofollow noreferrer">Kopplin</a>
        <img src="/assets/images/logo-dark.png" class="logo" title="SPOILER ALERT: A solution to the 9 Dots Problem" alt="A solution to the 9 Dots Problem" />
    </p>
</footer>
