<nav class="nav">
    <ul class="list">

            {% if page.lang == "da_DK" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/" title="Switch to english"><img src="/assets/images/flag-en.png" alt="" class="flag" /></a>
                </li>
            {% else %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/da" title="Forside på dansk"><img src="/assets/images/flag-da.png" alt="" class="flag" /></a>
                </li>
            {% endif %}

        {% if page.title != "Home" and page.title != "Velkommen" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}
    </ul>
</nav>
