<section class="work-callout">
  <h2 class="title">Work with me</h2>
  <p>I help companies secure web applications using <strong>vulnerability assessments</strong>, <strong>secure code reviews</strong>, <strong>threat modeling</strong>, and <strong>developer training</strong>.
    I have secured systems at places like <strong>SoundCloud</strong>,
    <strong>Peakon</strong>, and <strong>F-Secure</strong>. I would love to work with you too!</p>

  <p><a href="/" class="get-in-touch"><span>Learn more</span></a></p>
</section>
