{{- $posts := first 10 .Pages -}}
{{- $title := .Title | title -}}
{{- if eq .Section "topics" -}}
  {{- $title = printf "posts filed under %s" .Title | title -}}
{{- else if eq .Section "tags" -}}
  {{- $title = printf "posts tagged with #%s" .Title | title -}}
{{- end -}}
{{- $topicMeta := index .Site.Data.topicsMeta .Title -}}
{{- $blog := dict
  "@type" "Blog"
  "@id" .Permalink
  "mainEntityOfPage" .Permalink
  "headline" $title
-}}
{{- with $topicMeta -}}
  {{- $about := merge ( dict "@type" "Thing" ) $topicMeta -}}
  {{- $about = merge $about $topicMeta -}}
  {{- $blog = merge $blog ( dict "about" $about ) -}}
{{- end -}}
{{- with $posts -}}
  {{- $postSlice := slice -}}
  {{- range $posts -}}
    {{- $postSlice = $postSlice | append ( partial "jsonld/blogPost.html" . ) -}}
  {{- end -}}
  {{- $blog = merge $blog ( dict "blogPosts" $postSlice ) -}}
{{- end -}}
{{- return $blog -}}
