{{- $defaults := .Site.Data.procrastinato.defaults -}}
{{- $showTopics := and ( .Site.Params.posts.showTopics | default $defaults.posts.showTopics ) .Params.topics -}}
{{- $showSummary := ( .Site.Params.posts.showSummaries | default $defaults.posts.showSummaries ) -}}
{{- $topicsMeta := .Site.Data.topicsMeta -}}
{{- $post := partial "jsonld/blogPost" . -}}
{{- $post = merge $post ( dict
  "wordCount" .WordCount
  "timeRequired" ( printf "PT%dM" .ReadingTime )
  )
-}}
{{- if $showSummary -}}
  {{- $summary := trim ( .Summary | plainify | htmlUnescape ) "\n\r" -}}
  {{- $post = merge $post ( dict "abstract" $summary ) -}}
{{- end -}}
{{- if $showTopics -}}
  {{- $topics := uniq ( sort ( .GetTerms "topics" | append ( .GetTerms "tags" ) ) "LinkTitle" ) -}}
  {{- $abouts := slice -}}
  {{- range $topics -}}
    {{- $topic :=  dict
      "@type" "Thing"
      "@id" .Permalink
      "name" ( .LinkTitle | plainify | title )
    -}}
    {{- with index $topicsMeta .LinkTitle -}}{{ $topic = merge $topic . }}{{- end -}}
    {{- $abouts = $abouts | append $topic -}}
  {{- end -}}
  {{- $post = merge $post ( dict "about" $abouts ) -}}
{{- end -}}
{{- return $post -}}
