<svg
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  stroke-width="{{ .strokeWidth | default "1.5" }}"
  stroke="{{ .stroke | default "currentColor" }}"
  class="{{ .class | default "w-5 h-5 inline-block" }}"
  aria-hidden="true"
>
  <title>Topics</title>
  <g stroke-linecap="round" stroke-linejoin="round">
    <circle cx="17" cy="7" r="3" />
    <circle cx="7" cy="17" r="3" />
    <path d="M14 14h6v5a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-5ZM4 4h6v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V4Z" />
  </g>
</svg>
